<section class="refresh">
	<h1 class="header">{{ localize "FATE.Sheet.FatePoints" }}</h1>
	<div class="refresh-boxes">
		<div class="property">
			<label class="property-label">{{ localize "FATE.Sheet.Refresh" }}</label>
			<input class="property-input" type="text" name="data.details.points.refresh"
				value="{{data.details.points.refresh}}" data-dtype="Number" />
		</div>
		<div class="property">
			<label class="property-label">{{ localize "FATE.Sheet.Current" }}</label>
			<input class="property-input" type="text" name="data.details.points.current"
				value="{{data.details.points.current}}" data-dtype="Number" />
		</div>
	</div>
</section>